<li>
	<span>
		<h1>{{burger_name}}</h1>
			<button class = "devourBurger" data-id="{{id}}" data-devoured="{{"devoured"}}">{{#if devoured}}Make Another{{else}}Devour Burger{{/if}}</button>
			<button class = 'deleteButton' data-id ="{{id}}">X</button>
	</span>
</li>
